
.contact-information {
	margin: 50px auto 30px;
	border-radius: 20px;
	padding: 20px;
	background: rgba(204,204,204,.5);
}
.contact-information li {
	position: relative;
	line-height: 50px;
	padding-left: 50px;
}

.contact {
	color: #fff;
	padding: 7px;
}

.image {
	width: 80px;
	height: 80px;
	border: none;
	vertical-align: top;
}
.ico {
	position: absolute;
	left: 0;
	top: 0;
	padding:0 10px 0 30px ;
}

.contact-information li:nth-child(1) .ico {
	background: url(../img/youxiangico.png) no-repeat 0 14px;
}
.contact-information li:nth-child(2) .ico {
	background: url(../img/weixinico.png) no-repeat 0 14px;
}
.contact-information li:nth-child(3) .ico {
	background: url(../img/QQ.png) no-repeat 0 14px;
}











